<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122796254332-qvma91v5vkjh266rgvdbsp6rgcvbmd0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122796254332-qvma91v5vkjh266rgvdbsp6rgcvbmd0i</string>
	<key>API_KEY</key>
	<string>AIzaSyCVd2r1b-3g8qFMTXTOPK9-nQPAFELInp4</string>
	<key>GCM_SENDER_ID</key>
	<string>122796254332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduVista</string>
	<key>PROJECT_ID</key>
	<string>edu-vista-83dc6</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-vista-83dc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122796254332:ios:9d304750cd2d4d3e2215f9</string>
</dict>
</plist>